li {
    list-style-type: none;
}



.leftNav {
    color: #ff385c;
    letter-spacing: 2px;

}

.leftNav.pointer{
    cursor: pointer;
}


a:link {
    text-decoration: none;

}

.leftNav a {
    color: rgb(31, 81, 43);
    font-size: 20px;
}

.leftNav i {
    color:  rgb(31, 81, 43);
    font-size: 20px;
}

.rightNav {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.rightNav li {
    align-self: center;
}

.nav-bar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
    height: 40px;
    font-size: 16px;
    border-bottom: .1px solid lightgray;
    background-color: white;
    margin-left: 30px;
    margin-right: auto;
}

@media screen and (max-width: 529px) {
    .nav-bar {
        display: grid;
        margin-bottom: 40px;
        border-bottom: none;
        justify-content: center;
        margin-left: none;
    }
}
