li {
    list-style-type: none;
}



.leftNav{
    float: left;
    color: #ff385c;

}

.floatRight{
    float: right;
}

a:link{
    text-decoration: none;
}

a{
    color: #ff385c
}


ul {
    list-style: none;
    padding-left: 0px;
    padding-right: 20px
}
